#box {
    float: left;
    width: 200px;
    height: 500px;
    margin-left: 7%;
}

#foto {
    display: block;
    /*position: relative;*/
    border: 2px;
    /*border-style: solid;*/
    /*width: 192.6px;*/
    /*height: 242px;*/
    /*border-radius: 100%;*/
    /*top: -335px*/
}

#info {
    top: 180px;
    position: relative;
    border: 2px;
    border-style: solid;
    border-radius: 10%;
    width: 192px;
    height: 345px;
    padding: 0.5em;
    background-color: #FFD100;
    border-color: white;
}

#font_info {
    font-size: 95%;
}

#deskripsi {
    border: 2px;

    border-radius: 10%;
    padding: 5em;
    margin-left: 7%;
    float: left;
    background-color: transparent;
    border-color: #8492A6;
}

#font_deskripsi {
    font-size: 125%;
}

#foto-hobi {
    float: left;
    margin-left: 20%;
}

#keterangan {
    margin-left: 8%;
    font-size: 25px;
}

#keterangan2 {
    margin-left: auto;
    font-size: 25px;
    text-decoration: underline;
}

/*@media (max-width: 568px) {*/

    /*#keterangan {*/
        /*font-size: 115%;*/
        /*margin-left: 38%*/
    /*}*/

    /*#keterangan2 {*/
        /*font-size: 115%;*/
        /*margin-left: 5%;*/
        /*margin-bottom: 5%;*/
    /*}*/

    /*#deskripsi {*/
        /*font-size: 70%;*/
        /*margin-left: 4%;*/
        /*margin-top: 20%;*/
        /*margin-bottom: 10%;*/
    /*}*/

    /*#foto {*/
        /*margin-left: 18%;*/
    /*}*/

    /*#info {*/
        /*margin-left: 18%;*/
    /*}*/

    /*#foto-hobi {*/
        /*margin-left: 10%;*/
    /*}*/
/*}*/