#header {
    padding: 3.5em;
}

#twitter {
    margin-left: 5%;
    position: relative;
    top: 10px;
}

#logo_twitter {
    border-radius: 50%;
    width: 162px;
    height: 162px
}

#facebook {
    margin-left: 5%;
    position: relative;
    top: 10px;
}

#logo_fb {
    border-radius: 50%;
    width: 162px;
    height: 162px
}

#instagram {
    margin-left: 5%;
    position: relative;
    top: 10px;
}

#logo_instagram {
    border-radius: 50%;
    width: 162px;
    height: 162px
}

#logo_klik {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#logo_wa {
    width: 40px;
    height: auto;
}

#logo_email {
    width: 45px;
    height: auto;
}

#cp {
    float: right;
    position: relative;
    top: 80px;
    border: 2px;
    border-style: solid;
    margin-right: 15%;
    border-radius: 20%;
    padding: 2em;
    width: 450px;
    height: 370px;
    background-color: #13E6C5;
    border-color: white;
    font-size: 150%;
}

@media (max-width: 568px) {
    #cp {
        width: 350px;
        height: 260px;
        font-size: 100%;
        margin-left: 8%;
    }
}
