#nama {
    width: 500px;
    height: auto;
}

#tanggalLahir {
    width: 500px;
    height: auto;
}

#email {
    width: 500px;
    height: auto;
}

#username {
    width: 500px;
    height: auto;
}

#password {
    width: 500px;
    height: auto;
}

#password2 {
    width: 500px;
    height: auto;
}

#isianForm {
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}

@media (max-width: 568px) {
    #exampleInputName {
        width: 270px;
    }

    #exampleInputTL {
        width: 270px;
    }

    #exampleInputEmail1 {
        width: 270px;
    }

    #exampleInputUsername {
        width: 270px;
    }

    #exampleInputPassword1 {
        width: 270px;
    }

    #exampleInputPassword2 {
        width: 270px;
    }
}