#box {
    float: left;
    width: 200px;
    height: 500px;
    margin-left: 10%;
}

#foto {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 400px;
        border-radius: 20%;
    }

h4 {
    text-align: right;
    font-family: "Century Schoolbook";
}

h6 {
    font-size: smaller;
}

#deskripsi {
    border: 2px;
    float: left;
    color: whitesmoke;
}

#font_deskripsi {
    font-size: 125%;
    font-family: "Goudy Old Style";
}

#logo_sosmed {
    border-radius: 50%;
    width: 50px;
}

#logo_kontak {
    width: 40px;
    height: auto;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
    #foto {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 200px;
        border-radius: 20%;
    }
    h4 {
        font-size: medium;
    }
    h2 {
        font-size: x-large;
    }
    h5 {
        font-size: medium;
    }
    h6 {
        font-size: x-small;
    }
    #font_deskripsi {
        font-size: medium;
    }
    #logo_sosmed {
        width: 20px;
    }
    #logo_kontak {
        width: 15px;
    }
}