/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
    .table {
        font-size: xx-small;
    }
    .btn {
        font-size: xx-small;
    }
}