#isianForm {
    margin: 0 auto;
    width: 500px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
    #isianForm {
        width: 250px;
    }
}