{% extends 'base.html' %}
{% load static %}

<!doctype html>
<html lang="en">
<head>
    {% block beranda_section %}
        <li class="nav-item">
            <a class="nav-link" href="#beranda_section">BERANDA <span class="sr-only">(current)</span></a>
        </li>
    {% endblock %}
    {% block head %}
        <link rel="stylesheet" type="text/css" href='{% static "css/beranda.css" %}'/>

        <title>HOME</title>
    {% endblock %}
</head>
<body>

{% block kontak_section %}
    <li class="nav-item">
        <a class="nav-link" href="#kontak_section">KONTAK</a>
    </li>
{% endblock %}

{% block body %}



    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="{% static 'pictures/foto_hobi_1.jpg' %}" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'pictures/foto_hobi_2.jpg' %}" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'pictures/foto_hobi_3.jpg' %}" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'pictures/foto_hobi_4.jpg' %}" alt="Second slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <section id="beranda_section" class="content-section">
        <br><br><br>
        {# FOTO DAN INFO #}
        <div class="container-fluid padding">
            <h2 style="text-align: center">Tentang Saya</h2><br>
            <div class="row">
                <div class="col-lg-5">

                        <div>
                            <img id="foto"
                                 src='{% static "pictures/foto_profile.jpg" %}'
                                 alt="Avatar">
                        </div><br>

                </div>

                <!-- bagian tengah : deskripsi -->
                <div class="col-lg-6">
                    <div id="deskripsi" class="col-sm-12 padding">
                        <h4>
                            Stefanus Khrisna A.H

                            <br>19 Tahun
                            <br><span style="color: yellow">Universitas Indonesia</span>
                            <br><span style="color: blue">Ilmu </span><span style="color: red">Komputer</span></br>
                            <br><br>
                        </h4>
                        <p id="font_deskripsi">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            Saya kuliah di Universitas Indonesia dan mengambil jurusan Ilmu Komputer.
                            Dalam keseharian saya, saya sangat suka mendengarkan musik, jika ada waktu luang saya
                            menyempatkan waktu untuk bermain alat musik.
                            Terkadang sebelum tidur saya membaca sebuah novel atau bermain game.
                            <br><br>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            Saya merupakan orang yang lebih suka suasana tenang, tidak terlalu rame, dan selalu rapi
                            pada
                            ruangan kamar dan meja kerja saya.
                            Jika hal tersebut terpenuhi maka saya merasa nyaman dan dapat berkonsentrasi terhadap apa
                            yang
                            saya lakukan.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br><br>


    <section id="kontak_section" class="content-section" style="background-color: #ffffaa">
        <div class="footer">
            <h5 style="text-align: center">Ikuti Saya</h5>
            <nav class="navbar navbar-expand-lg">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="https://twitter.com/StefanusKhrisna">
                            <img id="logo_sosmed" src='{% static "pictures/twitter.png" %}' alt="TWITTER"/>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.facebook.com/stefanus.khrisna">
                            <img id="logo_sosmed" src='{% static "pictures/fb.png" %}' alt="FACEBOOK"/>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.instagram.com/khrisnaa3/">
                            <img id="logo_sosmed" src='{% static "pictures/ig.png" %}' alt="INSTAGRAM"/>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- garis -->
            <div class="row">
                <div class="col">
                    <hr style="border: 1px solid #343F4B;"/>
                </div>
            </div>

            <h5 style="text-align: center">Kontak Saya</h5>
            <nav class="navbar navbar-expand-lg">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <h6 class="text-center">MANAGER
                            <br>
                            <img id="logo_kontak" src='{% static "pictures/wa.png" %}'>
                            <br>
                            08191111
                            <br>
                        </h6>
                    </li>
                    <li class="nav-item">
                        <h6 class="text-center">EMAIL
                            <br>
                            <img id="logo_kontak" src='{% static "pictures/email.png" %}'>
                            <br>
                            asd@gmail.com
                        </h6>
                    </li>
                </ul>
            </nav>
        </div>
    </section>


{% endblock %}


</body>
</html>
