{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>Jadwal</title>
    {% endblock %}
</head>
<body>
{% block beranda_section %}
    <li class="nav-item">
        <a class="nav-link" href="/">BERANDA <span class="sr-only">(current)</span></a>
    </li>
{% endblock %}

{% block body %}
    <br>
    <div class="container-fluid padding"
         style="text-align: center; background-color: #f5dd5d; border: solid; border-radius: 15%; width: fit-content">
        <br>
        <p>Nama Kegiatan : </p>
        <p>{{ nama_kegiatan }}</p>
        <p>-----------------------</p>
        <p>Tempat Kegiatan : </p>
        <p>{{ tempat }}</p>
        <p>-----------------------</p>
        <p>Kategori Kegiatan : </p>
        <p>{{ kategori }}</p>
        <p>-----------------------</p>
        <p>Waktu Kegiatan : </p>
        <p>{{ waktu }}</p>
        <p>-----------------------</p>
        <p>Tanggal Kegiatan : </p>
        <p>{{ tanggal }}</p>
        <p>-----------------------</p>
        <br>
    </div>
    <br>
{% endblock %}
</body>
</html>