{% extends 'base.html' %}
{% load static %}


<html lang="en">
<head>
    {% block beranda_section %}
        <li class="nav-item">
            <a class="nav-link" href="/">BERANDA <span class="sr-only">(current)</span></a>
        </li>
    {% endblock %}
    {% block head %}
        <link rel="stylesheet" type="text/css" href='{% static "css/form_table.css" %}'/>
        <title>Jadwal</title>
    {% endblock %}

</head>
<body>

{% block body %}
    <div class="container">
        <div class="row">
            <table class="table" style="background:white;">
                <thead>
                <th>Nama Kegiatan</th>
                <th>Tempat Kegiatan</th>
                <th>Kategori Kegiatan</th>
                <th>Waktu Kegiatan</th>
                <th>Tanggal Kegiatan</th>

                </thead>
                <tbody>

                {% for i in form_tb %}
                    <tr>
                        <td> {{ i.nama_kegiatan }} </td>
                        <td> {{ i.tempat }} </td>
                        <td> {{ i.kategori }} </td>
                        <td> {{ i.waktu }} </td>
                        <td> {{ i.tanggal }} </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="row">
            <a href="form-table/hapus" type="button" class="btn btn-danger" role="button">Hapus Semua Data</a>
        </div>
    </div>
{% endblock %}

</body>
</html>