{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>Jadwal</title>
    {% endblock %}
</head>
<body>
{% block beranda_section %}
    <li class="nav-item">
        <a class="nav-link" href="/">BERANDA <span class="sr-only">(current)</span></a>
    </li>
{% endblock %}
{% block body %}
    <br><br>
    <div class="container-fluid padding" style="width: fit-content; border: solid; background-color: #f5dd5d;">
        <br>
        <form action="{% url 'form-success' %}" method="post">
            {% csrf_token %}
            {{ form_regis }}
            <br>
            <input type="submit" value="Submit">
        </form>
        <br>
    </div>
    <br><br>

{% endblock %}
</body>
</html>