{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>Hapus</title>
    {% endblock %}
</head>
<body>
{% block beranda_section %}
    <li class="nav-item">
        <a class="nav-link" href="/">BERANDA <span class="sr-only">(current)</span></a>
    </li>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h3>Berhasil Menghapus Semua Data</h3>
        <a href="/form" type="button" class="btn btn-info" role="button">Kembali ke Jadwal</a>
    </div>
{% endblock %}

</body>
</html>