{% extends 'base.html' %}
{% load static %}

<!doctype html>
<html lang="en">
<head>

    <!-- CSS -->
    {% block head %}

        <link rel="stylesheet" type="text/css" href='{% static "css/register.css" %}'/>

        <title>REGISTER</title>

    {% endblock %}

</head>
<body>
{% block beranda_section %}
    <li class="nav-item">
        <a class="nav-link" href="/">BERANDA <span class="sr-only">(current)</span></a>
    </li>
{% endblock %}
{% block body %}
    <br><br>
    <div class="container-fluid padding">
        <form id="isianForm">
            <div class="form-group">
                <label for="exampleInputName">Nama</label>
                <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp"
                       placeholder="Nama Lengkap">
            </div>
            <div class="form-group">
                <label for="exampleInputTL">Tanggal Lahir</label>
                <input type="date" class="form-control" id="exampleInputTL" placeholder="Tanggal Lahir">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="Email">
                <small id="emailHelp" class="form-text text-muted"># Saya tidak akan memberi tahu email Anda ke publik
                    #
                </small>
            </div>
            <div class="form-group">
                <label for="exampleInputUsername">Username</label>
                <input type="text" class="form-control" id="exampleInputUsername" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword2">Password Confirmation</label>
                <input type="password" class="form-control" id="exampleInputPassword2"
                       placeholder="Ulangi Password">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <br><br>

{% endblock %}

</body>
</html>
