{% extends 'base.html' %}
{% load static %}

<!doctype html>
<html lang="en">

<head>

    <!-- CSS -->
    {% block head %}

        <link rel="stylesheet" type="text/css" href='{% static "css/video.css" %}'/>

        <title>VIDEO</title>

    {% endblock %}

</head>

<body>
{% block beranda_section %}
    <li class="nav-item">
        <a class="nav-link" href="/">BERANDA <span class="sr-only">(current)</span></a>
    </li>
{% endblock %}

{% block body %}
    <br>

    <h3 align="center">Video of My Live Performance</h3><br>

    <div style="text-align:center">
        <button onclick="playPause()">Play/Pause</button>
        <br><br>
        <video id="myVideo">
            <source src='{% static "video/tadow.mp4" %}' type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </div>

    <script>
        var myVideo = document.getElementById("myVideo");

        function playPause() {
            if (myVideo.paused)
                myVideo.play();
            else
                myVideo.pause();
        }
    </script>


    {#    <div style="padding-left: 2em; margin-left: 28%">#}
    {#        <iframe id="myVideo">#}
    {#            src="https://www.youtube.com/embed/InHJlD29OZ4">#}
    {#        </iframe>#}
    {#    </div>#}

{% endblock %}

</body>
</html>
